#  productId用于表示APM中唯一的应用，名称不可修改
agent.authentication=Ny1uc2YtZGVtbw==

# service 为APM中监控服务的名称（进程功能，如管理服务器），小写字母、数字、英文句号或中划线组成，以字母开头，字母或数字结尾
# 建议和监控的服务进程名相同，如 webServer、alertServer
agent.service_name=stock-viewer-configs

# 注册服务和数据上传地址
collector.backend_service=apm-otel-collector.test71.geely.pro.service.163.org:11800

#（选填）node 为具体部署的节点名称，命名规则和服务名称相同，不填写时默认会自动获取主机的 hostname
agent.instance_name=stock-viewer-node

# 3秒内采集trace上限，默认10000条 （-1代表全部采集）
agent.sample_n_per_3_secs=10000
